/* 
------Colors----------
Light purple: #666699;
Dusty Pink: #cc9999;
Salmon: #ff9999;
Gray: #999999;
Red: #cc0033;
Pale Gray: #cccccc; 

Red: #cc144a;
Orange: #e95a3c;
teal: #7cc4b6;
lt pink: #f99a94;
mauve: #b7706c;
blue: #497574;

------Fonts----------
*/
@font-face {
    font-family: 'airstreamregular';
    src: url('Airstream-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blackjack';
    src: url('blackjack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* ------General------ */

* {
    box-sizing: border-box;
}


body {
    font-family: 'Lato', sans-serif;
    display: flex;
    margin: 25px;
}


h1 {
    font-family: 'blackjack', Arial, Helvetica, sans-serif;
    color: #cc144a;
    font-size: 100px;
    align-self: center;
}

h2 {
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
    letter-spacing: -.05rem;
    color: #b7706c;
    position: relative;
    top: -40px;
    left: -35px;
}

h3 {
    font-weight: bolder;
    font-size: 18px;
    letter-spacing: -.05rem;
    color: #000;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* ------TitleBar------ */
.title-bar {
    display: flex;
    height: 250px;
    width: 60%;
    margin: auto;
}

.heart-image {
    height: auto;
    width: 235px;
    opacity: .5;
}

.title {
    align-self: center;
    position: relative;
    width: 100%;
}

#nameInput,
#photoInput {
    width: 100%;
    margin-bottom: 10px;
}

#photoInput {
    margin-bottom: 25px;
}

.question * {
    margin: 5px;
}

.dropdown {
    margin-bottom: 15px;
}

/* ------Main Content------ */
.app-introduction {
    opacity: 0.9;
    border-radius: 25px;
    text-align: center;
    color: #497574;
    font-weight: 700;
}

p.description {
    margin-bottom: 25px;
}

.scriptFont {
    font-family: 'blackjack', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    line-height: -5 rem;
}


#johnnyJune {
    font-size: 1.5rem;
}

.question-container {
    column-count: 2;
}

/* ------Buttons------ */

a.btn {
    background-color: #b7706c;
    color: #FFFFFF;
    font-weight: bold;
    padding: 1rem;
    margin-top: 0rem;
    border-radius: 5px;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.2s;

}

.btn:hover {
    background-color: #cc9999;
    color: white;

}

a#submitBtn {
    width: fit-content;
    align-self: flex-end;
    margin-top: 25px;
}


/* ------Questions------ */
.form-group {
    margin-top: 1rem;
}

#questionContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

/* ------Modal------ */
#userMatchImage {
    margin-top: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
    border-radius: 2px;
}

/* 
Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 16px;
        left: -75px;
    }

    h3 {
        font-size: 14px;
    }

    .title-bar {
        height: 125px;
        width: 100%;
    }

    .title {
        font-size: 35px;
    }

    .heart-image {
        height: 100px;
        width: 100px;
    }

    .scriptFont {
        font-size: 30px;
    }

    p.description {
        margin-bottom: 5px;
    }

    .form-group {
        margin-top: 0;
    }

    .question * {
        font-size: 90%;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
        h1 {
            font-size: 50px;
        }

        h2 {
            font-size: 18px;
            top: -34px;
            left: -128px;
        }

        h3 {
            font-size: 14px;
        }

        .title-bar {
            height: 125px;
            width: 100%;
        }

        .title {
            font-size: 35px;
        }

        .heart-image {
            height: 150px;
            width: 150px;
        }

        .scriptFont {
            font-size: 30px;
        }

        p.description {
            margin-bottom: 5px;
        }

        .question * {
            font-size: 90%;
        }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 30px;
        top: -25px;
    }
    
    h3 {
        font-size: 14px;
    }
    .title-bar {
        height: 125px;
        width: 100%;
    }

     .heart-image {
         height: 175px;
         width: 175px;
     }

     .form-group {
         margin-top: 40px;
     }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    h2 {
        left: -215px;
    }
    .title-bar {
        width: 100%;
    }
}