/* 
------Colors----------
Light purple: #666699;
Dusty Pink: #cc9999;
Salmon: #ff9999;
Gray: #999999;
Red: #cc0033;
Pale Gray: #cccccc; 

------Fonts----------
*/
@font-face {
    font-family: 'airstreamregular';
    src: url('Airstream-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blackjack';
    src: url('blackjack-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* ------General------ */

* {
    box-sizing: border-box;
}


body {
    font-family: 'Lato', sans-serif;
    display: flex;
    max-width: 100%;
    margin: 25px;
}


h1 {
    font-family: 'blackjack', Arial, Helvetica, sans-serif;
    color:#000;
    font-size: 100px;
    align-self: center; 
}

h2 {
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    letter-spacing: -.05rem;
    color: #000;
}


.main-container {
    display: flex;
    flex-direction: column;
}
/* ------TitleBar------ */
.title-bar {
    display: flex;
    height: 250px;
    width: 100%;
}

.heart-image {
    height: auto;
    width: 235px;
}

.title {
    align-self: center;
}


/* ------Main Content------ */
.app-introduction {
    width: 70%;
    opacity: 0.5;
    border-radius: 25px;
    text-align: center;
    font-weight: 700;

}

.scriptFont {
    font-family: 'blackjack', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    line-height: -5 rem;
}


#johnnyJune {
    font-size: 1.5rem;
}


/* ------Buttons------ */
#surveyBtn {
     background-color: #cc0033;
     padding: 1rem;
     margin-top: 0rem;
     border: 3px dotted black;
     border-radius: 5px;
     -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.2s;
}

#submitBtn {
    background-color: #BB557E;
    padding: 1rem;
    margin-top: 0rem;
    border: 3px dotted black;
    border-radius: 5px;
    -webkit-transition-duration: 0.1s; /* Safari */
   transition-duration: 0.2s;

}

#surveyBtn:hover , #submitBtn:hover{
    background-color: #cc9999;
    color: white;
    
}


/* ------Questions------ */
.form-group {
    margin-top: 1rem;
}

#questionContainer {
    height: 50rem;
    margin-left: 4rem;  

}

/* ------Modal------ */
#userMatchImage  {
    margin-top: 2rem;
    margin-right: 3rem;
    margin-left: 3rem;
    border-radius: 2px; 
}
